<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eduapps.edumage.oge_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".TrainingsActivity"
            android:label="@string/trainings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".VariantsActivity"
            android:label="@string/variants"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".TheoryActivity"
            android:label="@string/theory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".UoeActivity"
            android:label="@string/use_of_english"
            android:parentActivityName=".TrainingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrainingsActivity" />
        </activity>

        <activity
            android:name=".ReadingTask"
            android:label="@string/reading"
            android:parentActivityName=".TrainingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrainingsActivity" />
        </activity>

        <activity
            android:name=".AudioTask"
            android:label="@string/audio"
            android:parentActivityName=".TrainingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrainingsActivity" />
        </activity>

        <activity
            android:name=".WritingTask"
            android:label="@string/writing"
            android:parentActivityName=".TrainingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrainingsActivity" />
        </activity>

        <activity
            android:name=".IndividualTask"
            android:label="@string/individual"
            android:parentActivityName=".TrainingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrainingsActivity" />
        </activity>
    </application>

</manifest>